
<div class="d-flex align-items-center justify-content-center">
  <h1>Sign Up Form</h1>
</div>

<%= form_with model: @user, url: sign_up_path do |form| %>
   <%= render "shared/form_errors", form:form %>

   <div class="mb-3">
       <%= form.label :email %>
       <%= form.text_field :email, class: "form-control", placeholder: "Enter email" %>
   </div>
   <div class="mb-3">
       <%= form.label :password %>
       <%= form.password_field :password, class: "form-control",  placeholder: "Enter password" %>
   </div>
  <div class="mb-3">
       <%= form.label :password_confirmation %>
       <%= form.password_field :password_confirmation, class: "form-control",  placeholder: "Confirm password" %>
   </div>
   <div class="mb-3">
       <%= form.submit "Sign Up", class: "btn btn-primary" %>
   </div>
<% end%>